<!DOCTYPE html>
<html>

    <head>
        <title> Home</title>
        <meta charset="utf-8">
        
    </head>

    <body>
        <h1>Log In !!</h1>
        <form action="/authenticate" method="POST">
            <p><label for="name">Username:</label>
            <input type="text" id="username" name="username">
            </p>
            <p>
            <label for="name">Password:</label>
            <input type="password" id="password" name="password">
            </p><br>
            <input type="submit" value="Log In">
            </form>
    </body>
</html>