<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stylelog.css">
    <title>Post Message</title>
</head>
<body>
    <nav>
        <label class="logo">Posting page</label> 
    </nav>
        <form action="/postmessage" method="post">
            <div class="register">
                <div class="entry">
                    <label for="datetime">Date</label><br>
                    <input type="datetime-local" name="datetime" >
                </div>
                <div class="entry">
                    <textarea name="message" rows="5">Write your message here</textarea><br>
                </div>
                <div class="entry">
                    <button type="submit">Post </button>
                </div>
            </div>
        </form>
</body>
</html>