<!DOCTYPE html>
<html>

    <head>
        <title> Profile Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/stylelog.css">  
        
    </head>

    <body>
        <nav>
            <label class="logo">Hello {{username}}</label> 
            <img src="static/picture/default_user.jfif" alt="Profil Picture"><br>
        </nav>
        <div class="register">
            <div class="entry">
                Your Information :<br><br>
                <textarea name="data" rows="5">Your username is {{username}} and your password is {{password}}</textarea>
            </div>
            <div class="entry">
                <form action="/postpage" method="post">
                    <button type="submit">Post Message</button>
                </form>
            </div>
        </div>
    </body>
</html>

