<!DOCTYPE html>
<html>

    <head>
        <title> Home</title>
        <meta charset="utf-8">
        <!--  <link rel="stylesheet" href="backend/css/style.css">  -->
    </head>

    <body>
        <h1>Please, sign up!!</h1>
        <form action="/signup" method="POST">
            <p><label for="name">Username:</label>
            <input type="text" id="username" name="username">
            </p>
            <p>
            <label for="name">Password:</label>
            <input type="password" id="password" name="password">
            </p><br>
            <input type="submit" value="Register">
            </form>
    </body>

</html>